[submodule "lib/continuous_timer"]
	path = lib/continuous_timer
	url = git@github.com:yakamon/continuous_timer
[submodule "lib/kanjinum"]
	path = lib/kanjinum
	url = git@github.com:yakamon/kanjinum
[submodule "lib/realpath"]
	path = lib/realpath
	url = git@github.com:yakamon/realpath
